  /* -- Color Scheme Maping -- */
  html {
  }

/* ==========================================================================
   Cards
   ========================================================================== */

/* The card is by default a metal material in light mode with 0dp and no border line */
.exc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--mat-metal-light-color-alldp);
  color: var(--text-light-color);
  width: 100%;
  border-radius: var(--border-radius-default);
  overflow: hidden;
}
.exc-card[class^=mat-dp] {
  background-color: var(--mat-metal-light-color-alldp);
}
.exc-card.mat-1dp {
  box-shadow: var(--mat-elevation-box-shadow-1dp);
}
.exc-card.mat-2dp {
  box-shadow: var(--mat-elevation-box-shadow-2dp);
}
.exc-card.mat-3dp {
  box-shadow: var(--mat-elevation-box-shadow-3dp);
}
.exc-card.mat-4dp {
  box-shadow: var(--mat-elevation-box-shadow-4dp);
}
.exc-card.mat-6dp {
  box-shadow: var(--mat-elevation-box-shadow-6dp);
}
.exc-card.mat-8dp {
  box-shadow: var(--mat-elevation-box-shadow-8dp);
}
.exc-card.mat-12dp {
  box-shadow: var(--mat-elevation-box-shadow-12dp);
}
.exc-card.mat-16dp {
  box-shadow: var(--mat-elevation-box-shadow-16dp);
}
.exc-card.mat-24dp {
  box-shadow: var(--mat-elevation-box-shadow-24dp);
}

.exc-card.dark {
  background-color: var(--mat-metal-dark-color-0dp);
  color: var(--text-dark-color);
}
.exc-card.dark.mat-1dp {
  background-color: var(--mat-metal-dark-color-1dp);
}
.exc-card.dark.mat-2dp {
  background-color: var(--mat-metal-dark-color-2dp);
}
.exc-card.dark.mat-3dp {
  background-color: var(--mat-metal-dark-color-3dp);
}
.exc-card.dark.mat-4dp {
  background-color: var(--mat-metal-dark-color-4dp);
}
.exc-card.dark.mat-6dp {
  background-color: var(--mat-metal-dark-color-6dp);
}
.exc-card.dark.mat-8dp {
  background-color: var(--mat-metal-dark-color-8dp);
}
.exc-card.dark.mat-12dp {
  background-color: var(--mat-metal-dark-color-12dp);
}
.exc-card.dark.mat-16dp {
  background-color: var(--mat-metal-dark-color-16dp);
}
.exc-card.dark.mat-24dp {
  background-color: var(--mat-metal-dark-color-24dp);
}

.exc-card header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  padding: 0 1.4vmax;
}

.exc-card main {
  padding: 0 1.4vmax;
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.8em;
}

.exc-card footer {
  width: 100%;
  padding: 0 1.4vmax;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  justify-self: end;
}

.exc-card header > h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.3em;
}

.exc-card header > h2 {
  line-height: calc(var(--heading-s-line-height) + .06rem);
  font-size: calc(var(--heading-s-font-size) - .5rem);
  font-weight: 700;
  letter-spacing: -.02em;
  margin-bottom: 1rem;
}

.exc-card header > h3 {
  line-height: calc(var(--heading-xs-line-height) + .5rem);
  font-size: calc(var(--heading-xs-font-size) - 0.2rem);
  font-weight: 600;
  letter-spacing: -.018em;
  margin-bottom: 1rem;
}

.exc-card header > h4 {
  line-height: calc(var(--heading-xxs-line-height) - 0.5rem);
  font-size: calc(var(--heading-xxs-font-size) - 0.1rem);
  letter-spacing: var(--heading-xxs-letter-spacing);
  font-weight: 600;
}

.exc-card header > h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 0;
}

.exc-card__media-wrapper {
  position: relative;
  width: calc(100% + 2.8vmax);
  min-height: 200px;
  max-height: 380px;
  margin: 0 -1.4vmax;
  margin-bottom: 1rem;
}
.exc-card__media-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center;
}
