/* ==========================================================================
   Buttons
   ========================================================================== */
   
.exc-hero-button-xl,
.exc-hero-button-md,
.exc-hero-button-sm {
  outline: none;
  position: relative;
  display: block;
  color: white;
  border: 1px solid transparent;
  border-radius: 7px;
  font-weight: 700;
  background-color: var(--primary-color-600);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 1.35rem;
  line-height: 2em;
}

.exc-hero-button-xl {
    padding: 0.5rem 1rem;
}

.exc-hero-button-xl:hover, .exc-hero-button-md:hover, .exc-hero-button-sm:hover {
    background-color: var(--primary-color-800);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.exc-hero-button-xl:active, .exc-hero-button-md:active, .exc-hero-button-sm:active {
    background-color: var(--primary-color-500);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.secondary-color {
    background-color: var(--secondary-color-700);
}

.exc-hero-button-xl.secondary-color, .exc-hero-button-md.secondary-color, .exc-hero-button-sm.secondary-color {
    background-color: var(--accentio-red);
}

.exc-hero-button-xl.secondary-color:hover, .exc-hero-button-md.secondary-color:hover, .exc-hero-button-sm.secondary-color:hover {
    background-color: var(--secondary-color-400);
}

.exc-hero-button-xl.secondary-color:active, .exc-hero-button-md.secondary-color:active, .exc-hero-button-sm.secondary-color:active {
    background-color: var(--secondary-color-500);
}

.primary-muted-l-color {
    background-color: transparent;
}

.exc-hero-button-xl.primary-muted-l-color, .exc-hero-button-md.primary-muted-l-color, .exc-hero-button-sm.primary-muted-l-color {
    border: 1px solid var(--primary-color-300);
    color: var(--primary-color-300);
}

.exc-hero-button-xl.primary-muted-l-color:hover, .exc-hero-button-md.primary-muted-l-color:hover, .exc-hero-button-sm.primary-muted-l-color:hover {
    color: white;
}

.exc-hero-button-xl.primary-muted-l-color:active, .exc-hero-button-md.primary-muted-l-color:active, .exc-hero-button-sm.primary-muted-l-color:active {
    color: white;
}


.white-muted-color {
    background-color: transparent;
}

.exc-hero-button-xl.white-muted-color, .exc-hero-button-md.white-muted-color, .exc-hero-button-sm.white-muted-color {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.exc-hero-button-xl.white-muted-color:hover, .exc-hero-button-md.white-muted-color:hover, .exc-hero-button-sm.white-muted-color:hover {
    color: white;
    border: 1px solid var(--primary-color-100);
}

.exc-hero-button-xl.white-muted-color:active, .exc-hero-button-md.white-muted-color:active, .exc-hero-button-sm.white-muted-color:active {
    color: white;
    border: 1px solid var(--primary-color-100);
}


@media (min-width: 600px) {
    .exc-hero-button-xl {
        padding: 0.8rem 1.8rem;
        font-size: 1.6rem;
    }
}