<section id="home-carousel" class="home-carousel">
    <div class="carousel__background-foreground"></div>
    <div class="carousel__background-container">
        <picture image-id="0" class="animate__animated animate__fadeIn carousel__background-image"><img
                src="https://i.imgur.com/qMdC63J.jpg" class="image-cover"></picture>
    </div>
    <div class="carousel__canvas exc-canvas">
        <div class="carousel__content">
            <header class="content__header">
                <h5>Tag</h5>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum.</h5>
                    <div class="content__cta">
                        <a id="cta-header-desktop" href="https://accentiostudios.com" class="exc-hero-button-xl">
                            Leer Artículo
                        </a>
                    </div>
            </header>
            <div class="content__post-cards-container">
                <div class="post-cards-container__grid exc-grid">
                    <div class="post-card active">
                        <div class="post-card__progressbar">
                            <div class="post-card__progressbar-fill w100"></div>
                        </div>
                        <div class="post-card__content">
                            <h5>Tag</h5>
                            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum.</h4>
                        </div>
                    </div>
                    <div class="post-card">
                        <div class="post-card__progressbar"></div>
                        <div class="post-card__content">
                            <h5>Tag</h5>
                            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum.</h4>
                        </div>
                    </div>
                    <div class="post-card">
                        <div class="post-card__progressbar"></div>
                        <div class="post-card__content">
                            <h5>Tag</h5>
                            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatum.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>